<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashbord.css" />
    <script src="https://kit.fontawesome.com/eb3ac9fd91.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/help.js"></script>
  </head>

  <body>
    <div class="main-header">
      <div class="greetings">
        <h2 style="text-wrap: nowrap">
          Hello
          <span style="color: rgb(34, 206, 109)"
            >{{request.cookies.get('username').replace('@gmail.com','')}}</span
          >
        </h2>
        <small style="text-wrap: nowrap"> WELCOME ASK SOMETHING </small>
      </div>
      <form action="/logout" method="post" class="logout">
        <button type="submit" id="login-btn">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </button>
      </form>
      <div class="avatar">
        <img src="../static/login.svg" alt="" />
      </div>
    </div>
    <div class="main">
      <div class="col chatbot-img">
        <img src="../static/chatbot.svg" alt="" />
      </div>
      <div class="col">
        <h1>Chat and get answers</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam rem
          accusamus quasi placeat libero repellat laboriosam aliquid ipsam
          quibusdam hic. Esse temporibus placeat aperiam rem officiis unde
          accusantium, obcaecati repellat.
        </p>
      </div>
      <div class="col">
        <h1>Chat and get answers</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam rem
          accusamus quasi placeat libero repellat laboriosam aliquid ipsam
          quibusdam hic. Esse temporibus placeat aperiam rem officiis unde
          accusantium, obcaecati repellat.
        </p>
      </div>

      <div id="help-assis"></div>
      <script>
        const assistant = new Assistant({
          container: document.getElementById("help-assis"),
        });
        assistant.init();
      </script>
    </div>
  </body>
</html>
