<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mian.css">
    <script src="https://kit.fontawesome.com/eb3ac9fd91.js"> </script>
    <title>Help Assistant</title>
</head>

<body>
    <div class="warpper">
        <div class="warpper-top">
            <h2 class="login-securely">
                Login Securly
            </h2>
        </div>
        <div class="warpper-bottom">
            <div class="warpper-loign-img">
                <img src="{{ url_for('static', filename = 'login.svg') }}" alt="">
            </div>
            <form action="/login" method="post" class="warpper-login-right">
                <div class="form-warpper">
                    <label for="user">Email</label>
                    <input type="text" name="username" placeholder="Enter your email">
                </div>
                <div class="form-warpper">
                    <label for="user">Password</label>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="form-warpper">
                    <button type="submit" id="login-btn">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        Login
                    </button>
                </div>
                <!-- <span style="color: crimson;">
                    {{session['login_error']}}
                </span> -->
                <div class="form-warpper">
                    <p class="foget">
                        not have a account <a href="/register">Register</a>
                    </p>
                </div>
                </from>
        </div>
    </div>
    <div class="polygon"></div>
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <!-- <script>
        window.onload = () => {
            document.getElementById('login-btn').onclick = () => {
                window.location.href = '/'
            }
        }
    </script> -->
</body>

</html>
<!-- {{ url_for('static', filename = 'style.css') }} -->
<!-- {{url_for('static',filename='login.svg')}} -->